html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', Arial, sans-serif;
  min-height: 100%;
  font-weight: lighter;

}
